In [17]:
import  pandas as pd
import random

In [2]:
import torch

In [4]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-12.0.0-cp310-cp310-win_amd64.whl (21.5 MB)
     ---------------------------------------- 21.5/21.5 MB 2.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.6 in d:\new folder\lib\site-packages (from pyarrow) (1.23.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.0

In [5]:
data = pd.read_parquet('C:\\Users\\NITRO 5\\Downloads\\FDS\\phase-1\\prob-1\\raw_train.parquet')

In [6]:
df = pd.DataFrame(data)

In [7]:
df

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,label,feature14,feature15,feature16
0,Site engineer,grocery_pos,8.60,48230,40.213439,-85.203756,47583,42.508293,-83.168004,65.596062,3,5,1,1,8.017865,1.028822,58.911132
1,Site engineer,gas_transport,316.84,48230,44.379391,-82.859721,47583,42.661838,-81.966510,64.728795,6,5,1,1,11.768568,1.106217,64.431017
2,Site engineer,grocery_pos,294.89,48230,42.950657,-84.935542,47583,42.580470,-82.408529,65.434606,3,5,1,1,7.996359,0.899881,57.545348
3,Site engineer,shopping_net,831.08,48230,39.372111,-84.893973,47583,41.948688,-83.919881,64.990422,23,6,1,1,8.767720,1.062966,62.681169
4,Site engineer,health_fitness,1063.84,48230,41.227499,-83.228392,47583,41.544743,-82.123365,65.316083,23,6,1,1,8.816222,0.722446,63.084486
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134196,Minerals surveyor,health_fitness,132.98,32210,30.570251,-80.001638,847415,29.725058,-81.319645,31.785767,23,4,2,0,6.930241,0.585582,61.754724
134197,Minerals surveyor,health_fitness,2.19,32210,29.150371,-81.719344,847415,31.233001,-81.786202,30.800002,23,3,2,0,7.432464,0.424970,61.681467
134198,Minerals surveyor,kids_pets,3.16,32210,34.212880,-80.634963,847415,29.874284,-81.624591,30.641819,23,6,2,0,7.640235,0.288538,65.003013
134199,Minerals surveyor,entertainment,7.12,32210,28.515650,-80.139073,847415,29.502540,-82.612350,30.809930,20,5,2,0,4.193106,0.489005,66.160873
134200,Minerals surveyor,entertainment,7.51,32210,31.842962,-80.307771,847415,29.506603,-80.806227,31.129042,21,2,2,0,3.082634,0.689734,67.800253

In [9]:
set(df.label)

{0, 1}

In [12]:
count = df.label
sm_count = set(count)
for sm_count in set (count):
    print(str(sm_count)+': ', list(count).count(sm_count))

0:  125704
1:  8497

In [14]:
125704/8497

14.793927268447687

In [19]:
feature12 = df.feature12.values.tolist()
random.shuffle(feature12)

In [24]:
features = ['feature3','feature4','feature4','feature5','feature6','feature7', 'feature8']
X = data[features]
y = data['label']

from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor(random_state=1)

dt_model.fit(X_train, y_train)
y_preds = dt_model.predict(X_valid)
pd.DataFrame({'y_valid': y_valid.head(), 'y_preds': y_preds.head()})

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [22]:
count = 0
for sm_data in y_preds:
    if sm_data == y_preds[0]:
        count += 1
print('acc:',count/len(test_data) * 100,'%')

IndexError: invalid index to scalar variable.