In [16]:
from tqdm.notebook import tqdm
import numpy
import matplotlib.pyplot as plt
import pandas
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [17]:
data = pandas.read_csv('house.csv')
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [18]:
data = data.drop(data[data.price == 0].index)

In [19]:
imp = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','condition']
Y = data['price']
X = []
for val in imp:
    X.append(list(data[val]))
X = numpy.array(X).T
len(X)

4551

In [20]:
data.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [21]:
x_train = X[:3500]
y_train = Y[:3500]

x_test = X[3500:]
y_test = Y[3500:]

(len(x_train),len(y_train)),(len(x_test),len(y_test))
#chỗ này là chia dữ liệu ra nè

((3500, 3500), (1051, 1051))

In [22]:
#chỗ này là train model nè
def build_model():
    model = Sequential()
    model.add(keras.Input(shape=(6,)))
    model.add(Dense(16,activation='relu'))
    model.add(Dense(32,activation='relu'))
    model.add(Dense(64,activation='relu'))
    model.add(Dense(32,activation='relu'))
    model.add(Dense(16,activation='relu'))
    model.add(Dense(1,activation='relu'))
    model.compile(
        optimizer=keras.optimizers.Adam(),
        loss=keras.losses.mae
    )
    return model
model = build_model()
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 16)                112

 dense_7 (Dense)             (None, 32)                544

 dense_8 (Dense)             (None, 64)                2112

 dense_9 (Dense)             (None, 32)                2080

 dense_10 (Dense)            (None, 16)                528

 dense_11 (Dense)            (None, 1)                 17

=================================================================
Total params: 5,393
Trainable params: 5,393
Non-trainable params: 0
_________________________________________________________________

In [1]:
#chỗ này là xem loss thế nào nè
h = model.fit(x_train,y_train,batch_size=16,epochs=100)
plt.plot(range(len(h.history['loss'])),h.history['loss'])
plt.show()

NameError: name 'model' is not defined

In [24]:
y_test = list(y_test)

In [29]:
for i in tqdm(range(len(x_test))):
    pred = model.predict(numpy.array([x_test[i]]),verbose=False)[0]
    print('pred:',pred,'|real:',y_test[i])

ImportError: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html