In [2]:
import numpy
import pandas as pd
import matplotlib.pyplot as plt
import random

In [3]:
data = pd.read_csv("house.csv")

In [4]:
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [5]:
select = ['sqft_above','sqft_basement','sqft_living','sqft_lot']
fearture = data[select].values
target = data['condition'].values

In [6]:
set_tar = set(target)
set_tar

{1, 2, 3, 4, 5}

In [7]:
data_input = [[target[i],list(fearture[i])] for i in range(len(fearture))]
random.shuffle(data_input)

In [8]:
class knn:
    def train(self,data):
        self.data = data
    
    def distance(self,X,Y):
        distance = 0
        for i in range(len(X)):
            distance += (X[i] - Y[i])**2
        return distance**.5
    
    def predict(self, point, k):
        data = [val[1] for val in self.data]
        target = [val[0] for val in self.data]
        matrix = [[target[i],self.distance(data[i],point)] for i in range(len(data))]
        matrix.sort(key = lambda x: x[1])
        matrix = matrix[:k]
        matrix = [val[0] for val in matrix]
        
        output = []
        set_matrix = set(matrix)
        for val in set_matrix:
            count = 0
            for sm_val in matrix:
                if val == sm_val:
                    count += 1
            output.append([val,count/k])
        output.sort(key = lambda x: x[1], reverse = True)
        return output

In [9]:

train_data = data_input[:4500]
test_data = data_input[4000:]
len(train_data),len(test_data)

(4500, 600)

In [10]:
my_knn = knn()
my_knn.train(train_data)

In [35]:
k = 4
count = 0
for sm_data in test_data:
    if sm_data[0] == my_knn.predict(sm_data[1],k)[0][0]:
        count += 1
print('acc: ', count/len(test_data) * 100, '%')

acc:  72.0 %

In [14]:
br = data.bedrooms
set_br = set(br)
for i in set_br:
    print(str(i) + ':', list(br).count(i))

0.0: 2
1.0: 38
2.0: 566
3.0: 2032
4.0: 1531
5.0: 353
6.0: 61
7.0: 14
8.0: 2
9.0: 1

In [24]:
two = data[(data['bedrooms']==2.0)]
two_price = two.price
random.shuffle(two_price)

#yr_built

In [32]:
data = pd.concat([data.bedrooms, data.sqft_living, data.bathrooms, data.sqft_above, data.sqft_basement, data.price], axis=1)
data
two = data[(data['bedrooms']==2.0)]
two

AttributeError: 'DataFrame' object has no attribute 'concat'

In [ ]:


df2 = {'Name': 'Amy', 'Maths': 89, 'Science': 93}
df = df.append(df2, ignore_index = True)

In [36]:
data.sqft_above[3]

1000