In [1]:
import numpy
import pandas
import matplotlib.pyplot as plt
import random

In [3]:
data = pandas.read_csv("C:\\Users\\ADMIN\\Desktop\\dataset\\house price\\data.csv")
data = data.drop(['date','street','city','statezip','country','bathrooms','waterfront','view','condition','yr_built','yr_renovated'], axis = 1)

In [4]:
data

,price,bedrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement
0,3.130000e+05,3.0,1340,7912,1.5,1340,0
1,2.384000e+06,5.0,3650,9050,2.0,3370,280
2,3.420000e+05,3.0,1930,11947,1.0,1930,0
3,4.200000e+05,3.0,2000,8030,1.0,1000,1000
4,5.500000e+05,4.0,1940,10500,1.0,1140,800
...,...,...,...,...,...,...,...
4595,3.081667e+05,3.0,1510,6360,1.0,1510,0
4596,5.343333e+05,3.0,1460,7573,2.0,1460,0
4597,4.169042e+05,3.0,3010,7014,2.0,3010,0
4598,2.034000e+05,4.0,2090,6630,1.0,1070,1020
4599,2.206000e+05,3.0,1490,8102,2.0,1490,0

In [92]:
select = ['sqft_living','sqft_lot','floors','sqft_above','sqft_basement']

In [93]:
fearture = data[select].values
target = data['bedrooms'].values

In [94]:
data_input = [[target[i],list(fearture[i])] for i in range(len(fearture))]
random.shuffle(data_input)

In [95]:
class knn:
    def train(self,data):
    	self.data = data
    
    def distance(self,X,Y):
        distance = 0
        for i in range(len(X)):
            distance += (X[i] - Y[i])**2
        return distance**.5
    
    def predict(self, point, k):
        data = [val[1] for val in self.data]
        target = [val[0] for val in self.data]
        matrix = [[target[i],self.distance(data[i],point)] for i in range(len(data))]
        matrix.sort(key = lambda x: x[1])
        matrix = matrix[:k]
        matrix = [val[0] for val in matrix]
        
        output = []
        set_matrix = set(matrix)
        for val in set_matrix:
            count = 0
            for sm_val in matrix:
                if val == sm_val:
                    count += 1
            output.append([val,count/k])
        output.sort(key = lambda x: x[1], reverse = True)
        return output

In [96]:
train_data = data_input[:4200]
test_data = data_input[4200:]
len(train_data),len(test_data)

(4200, 400)

In [97]:
my_knn = knn()
my_knn.train(train_data)

In [105]:
k = 20
count = 0
for sm_data in test_data:
    if sm_data[0] == my_knn.predict(sm_data[1],k)[0][0]:
        count += 1
print('acc: ', count/len(test_data) * 100, '%')

acc:  61.75000000000001 %