In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    [(1,2,1),
     (0,3,0),
     (2,0,4),
     (1,1,1)], columns=['dog','cat','bear'])
df

   dog  cat  bear
0    1    2     1
1    0    3     0
2    2    0     4
3    1    1     1

In [6]:
df.cov()

           dog       cat      bear
dog   0.666667 -1.000000  1.333333
cat  -1.000000  1.666667 -2.000000
bear  1.333333 -2.000000  3.000000