In [1]:
import pandas as pd
import numpy as np

In [2]:
# đọc file Building_Permits
# lưu ý vì do code offline nên khi tải file về thì phải chọn đúng đường dẫn.
# có thể tự đặt tên biến tuỳ thích

In [8]:
df = pd.read_csv('D:\Building_Permits.csv')
df.head(5)

C:\Users\NITRO 5\AppData\Local\Temp\ipykernel_4512\3592621272.py:1: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:\Building_Permits.csv')

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

In [15]:
df1 = pd.DataFrame({'Môn học': ["PFP", 'PRO', 'PRF', 'DBI', 'MAE', 'MAD', 'MAS', 'MAI'],
                    'Mentor': ['Trần An', 'Tuấn Anh', 'Nghĩa', 'Tony', 'Tony', 'Hoàng', 'Dũng', 'Cường']})
df2 = pd.DataFrame({'Môn học': ["PFP", 'PRO', 'PRF', 'DBI', 'MAE', 'MAD', 'MAS', 'MAI'],
                    'Thời gian training': ['Tối thứ 4 15/03', 'Tối thứ 5 16/03', 'Tối thứ năm 16/03', 'Tối thứ 4 15/03','','Thứ 4 22/03','','T4,5,6']})

# Q1: gộp 2 cái dataframe lại thành một dataframe với tên gọi là 'df' sao cho df có dạng
|   | mon hoc | mentor   | thoi gian trainning |
|---|---------|----------|---------------------|
| 0 | PFP     | Trần An  | Tối thứ 4 15/03     |
| 1 | PRO     | Tuấn Anh | Tối thứ 5 16/03     |
| 2 | PRF     | Nghĩa    | Tối thứ năm 16/03   |
| 3 | DBI     | Tony     | Tối thứ 4 15/03     |
| 4 | MAE     | Tony     |                     |
| 5 | MAD     | Hoàng    | Thứ 4 22/03         |
| 6 | MAS     | Dũng     |                     |
| 7 | MAI     | Cường    | T4,5,6              |

In [17]:
#code your Q1 here :>

df = pd.concat([df1,df2])

# Q2: giờ thì đưa df đó thành csv với tên file là 'lịch dạy thêm demo.csv'

In [22]:
#code your Q2 here :>

df.rename(df, 'lịch dạy thêm demo.csv')

TypeError: DataFrame.rename() takes from 1 to 2 positional arguments but 3 were given

# Q3: nhập file 'ChicagoPublicSchools.csv' rồi dùng hàm iloc để lấy được Tên trường 'Abraham Lincoln Elementary School'

In [28]:
# code your Q3 here :>

df = pd.read_csv('D:\ChicagoPublicSchools.csv')
df.iloc[df["NAME_OF_SCHOOL"] == 'Abraham Lincoln Elementary School' ]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

# Q3.1: tiếp tục dùng hàm iloc để lấy được 5 hàng đầu tiên

In [ ]:
# code your Q3.1 here :>

#Q3.2 dùng hàm loc để lấy được Tên trường 'Abraham Lincoln Elementary School'

In [27]:
# code your Q3.2 here :>

df.loc[df["NAME_OF_SCHOOL"] == 'Abraham Lincoln Elementary School']

KeyError: 'NAME_OF_SCHOOL'

Q3.3 giờ tiếp tục dùng hàm loc để lấy được 5 hàng đầu

In [ ]:
# code your Q3.3 here :>

# Tìm tổng số missing value

In [ ]:
# lấy số điểm dữ liệu bị thiếu trên mỗi cột

# Tính tổng số missing value
total_cells = np.product(#code tại đây) #
total_missing = 
# Hiển thị total_cels và total_missing
print(#code tại đây)

![Screenshot 2023-04-01 032320.png]()

# Drop missinng value theo Rows

In [ ]:
# Tạo 1 bản sao DataFrame mới rồi drop trong bản sao. Không drop trực tiếp lên DataFrame gốc

# Drop missing value theo Columns

In [ ]:
df_with_na_dropped = #code ở đây

# So sánh số lượng cột đã xoá
cols_in_original_dataset = 
print(cols_in_original_dataset) # số cột ban đầu
cols_in_na_dropped = 
print(cols_in_na_dropped) # số cột còn lại
dropped_columns = 
print(dropped_columns) # số cột đã xoá

![Screenshot 2023-04-01 034519.png]()

# Thay thế các giá trị NaN bằng giá trị 0

In [ ]:
df_with_na_imputed =  #code ở đây